$defaultFont: ‘Noto Sans KR’, sans-serif, ’dotum’, ’돋움’, ’Apple SD Gothic Neo’;

$defaltKoreanFont: ‘Noto Sans KR’, sans-serif, ’dotum’, ’돋움’,
  ’Apple SD Gothic Neo’;

$themeBorder: 1px solid #dbdbdb;

$outLineColor: #8e8e8e;

$mainFeedWidth: 615px;

$mainAsideWidth: 345px;

$navBoxHeight: 60px;
